<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.post.termproject">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ColourExplorerActivity"
            android:label="@string/app_name" />

        <provider
            android:name=".db.ColourContentProvider"
            android:authorities="ar.com.post.termproject.colourcontentprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="ColourContentProvider"
            android:readPermission="ar.com.post.termproject.colourcontentprovider.READ" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColourFinderActivity"
            android:label="@string/title_activity_colour_finder" />
    </application>

</manifest>
